<%- include('../inc/head', { css }) %> 
<%- include('../inc/header') %> 
<div class="view-wrapper wrapper">
	<%- include('../inc/book/title-bar', { title, description }) %> 
	<table>
		<tbody>
			<tr>
				<td class="title">도서명</td>
				<td class="content"><%= book.title %></td>
			</tr>
			<tr>
				<td class="title">저자</td>
				<td class="content"><%= book.writer %></td>
			</tr>
			<tr>
				<td class="title">등록일</td>
				<td class="content"><%= book.createdAt %></td>
			</tr>
			<tr>
				<td class="title">판매여부</td>
				<td class="content"><%= book.status %></td>
			</tr>
			<tr class="content-tr">
				<td class="title">요약 설명</td>
				<td class="content"><%= book.content %></td>
			</tr>
			<tr>
				<td class="title">도서 커버 이미지</td>
				<td class="content">
					<img src="//via.placeholder.com/120x160?text=No+Cover." alt="도서커버" class="book-img">
				</td>
			</tr>
		</tbody>
	</table>
	<div class="btn-wrap p-3 text-center">
		<button class="btn btn-success" id="btSave">저장</button>
		<button class="btn btn-danger" type="reset">다시작성</button>
	</div>
</div>
<%- include('../inc/foot', { js }) %> 